* {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    font-family: "Roboto", sans-serif;
}

.nav-links {
    background-color: #1F2937;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px 100px;

}
.nav-right {
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-right a {
    color: #f9faf8;
    text-decoration: none;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    
    
}



/* Hero section */
.hero-container {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 10px 100px;
    
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero-btn {
    align-self: flex-start;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
}

.hero-container img {
    height: 200px;
    width: 300px;
    border-radius: 10px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8
}

.info {
    font-size: 18px;
    color: #e5e7eb
}