* {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    font-family: "Roboto", sans-serif;
}

.nav-links {
    background-color: #1F2937;
    display: flex;
    
    justify-content: space-between;
    padding: 10px 100px;

}
.nav-right {
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-right a {
    color: #f9faf8;
}

.header-logo {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-container {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    gap: 1;
    
}

.hero-container img {
    height: 200px;
    width: 300px;
}